<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>The Tech Blog</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/signup">Sign Up</a>
        </nav>
        <div id="title">
            {{#if location.href = '/dashboard'}}
            <h1>Your Dashboard</h1>
            {{else}}
            <h1>Tech Blog</h1>
            {{/if}}
        </div>
    </header>
    {{{ body }}}
</body>
</html>