<div id="post-holder">
    <div class="post">
        <p>Why MVC is so important</p>
        <p>5/8/2022</p>
    </div>
    <div class="post">
        <p>Why MVC is so important</p>
        <p>5/8/2022</p>
    </div>
</div>

<button class="button" id="modal-button">+ New Post</button>

<div class="card" id="dashboard-modal">
    <div>
        <h3>Create New Post</h3>
    </div>
    <form>
        <label for="title">Title:</label>
        <input type="text" name="title"><br>
        <label for="content">Content:</label>
        <input type="text" name="content" id="content"><br>
        <div id="buttons-modal">
            <button class="button" role="button" id="cancel">Cancel</button>
            <button class="button" role="button" id="create">Create</button>
        </div>
    </form> 
</div>

<script src="/js/dashboard.js"></script>