<div id="post-holder">
    {{#each posts as |post|}}
    <a href="/post/{{post.id}}" class="post">
        <p>{{post.title}}</p>
        <p>{{format_date post.date_created}}</p>
    </a>
    {{/each}}
</div>


<button class="button" id="modal-button">+ New Post</button>

<div class="card" id="dashboard-modal">
    <div>
        <h3>Create New Post</h3>
    </div>
    <form>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title-input"><br>
        <label for="content">Content:</label>
        <input type="text" name="content" id="content"><br>
        <p class="none" id="pass-err"></p>
        <div id="buttons-modal">
            <button class="button" role="button" id="cancel">Cancel</button>
            <button class="button" role="button" id="create-post">Create</button>
        </div>
    </form> 
</div>

<script src="/js/dashboard.js"></script>
<script src="/js/post.js"></script>