<section class="card">
    <div>
        <h3>Login</h3>
    </div>
    <form>
        <label for="user">Username:</label>
        <input type="text" name="user" id="user"><br>
        <label for="pass">Password:</label>
        <input type="password" name="pass" id="pass"><br>
        <p class="none" id="pass-err"></p><br>
        <button class="button" role="button" id="login-button">Login</button>
    </form> 
</section>

<script src="/js/login.js"></script>