<section class="card">
    <div>
        <h3>Login</h3>
    </div>
    <form>
        <label for="user">Username:</label>
        <input type="text" name="user"><br>
        <label for="pass">Password:</label>
        <input type="password" name="pass"><br>
        <button class="button" role="button">Login</button>
    </form> 
</section>