<section class="card">
    <div>
        <h3>Sign Up</h3>
    </div>
    <form>
        <label for="user">Username:</label>
        <input type="text" name="user" id="user"><br>
        <label for="pass">Password:</label>
        <input type="password" name="pass" id="pass">
        <p class="none" id="pass-err">Password must be at least 8 characters</p><br>
        <button class="button" role="button" id="signup-button">Sign Up</button>
    </form> 
</section>

<script src="/js/signup.js"></script>